html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #333;
  font-family: sans-serif;
  font-weight: 100;
  background: linear-gradient(#fff, #95e5ff);
}

.game {
  padding: 1rem;
  max-width: 700px;
  margin: 0 auto;
}

.game__title {
  text-align: center;
  font-family: 'Lobster';
  font-size: 4rem;
  color: #effbff;
  margin: 1rem 0 3rem 0;
  text-shadow: 3px 3px 20px #6ed8fb;
  animation-duration: 8s;
  animation-name: rotateTitle;
  animation-iteration-count: infinite;
}

.buttons {
  display: flex;
  margin-top: 1rem;
}

.button {
  border: 1px solid #fff;
  flex-grow: 1;
  outline: none;
  background: #6cdbff;
  padding: 1rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease-out;
}

.button:hover {
  background: #089bcb;
  cursor: pointer;
}

.cards {
  display: flex;
  justify-content: space-around;
}

.card {
  background-color: #fff;
  border-radius: 0.7rem;
  padding: 0.8rem;
  width: 280px;
  border: 1px solid #333;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease-out;
}

.card__container {
  border-radius: 0.7rem;
  border: 5px solid #000;
  color: #fff;
  padding: 0.5rem;
}

.card__container--player {
  background: linear-gradient(#6cdbff, #089bcb);
}

.card__container--computer {
  background: linear-gradient(#ff6cc7, #cb08cb);
}

.card__title {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
}

.card__title span {
  display: block;
  font-size: 1rem;
  text-transform: lowercase;
}

.card__stats {
  list-style: none;
  padding: 0;
  font-size: 0.9rem;
}

.card__stats li {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
  font-style: italic;
  transition: all 0.3s ease-out;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}

.card__stats li.selected {
  background: red;
}

.card__stats li:hover {
  cursor: pointer;
  border-radius: 0.2em;
  background: rgba(255, 255, 255, .4);
}

.card__stats li span {
  font-weight: bold;
}

.status {
  background: #fff;
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 0.2rem;
  margin-top: 1rem;
}

/* Animations */

@keyframes rotateTitle {
  0% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}
